.CardHandelar {
}
.CardHandelar ul {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgb(0 0 0 / 13%);
  padding: 7px;
  margin: 0px;
}
.CardHandelar ul li {
  list-style: none;
  font-size: 1.7rem;
  border-right: 1px solid rgb(0 0 0 / 13%);
  margin-right: 2px;
  padding-right: 30px;
}
.CardHandelar ul li:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: 0px;
}
.item-description span {
  margin-right: 11px;
}
